<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="" class="navbar-brand">Main</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="ticket-sale" class="nav-link text-center">Ticket Sale</a>
            </li>
            <li class="nav-item">
                <a href="direct-pay" class="nav-link text-center">Direact Payment</a>
            </li>
            <li class="nav-item">
                <a href="login" class="nav-link text-center">Login</a>
            </li>
        </ul>
    </div>
</nav>