<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a *ngIf="checktitle; else elseBlock" href="" class="navbar-brand">{{title}}</a>
    <ng-template #elseBlock>
        <a class="navbar-brand text-white">{{title}}</a>
    </ng-template>
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="" class="nav-link text-center">Main</a>
            </li>
            <li class="nav-item">
                <a href="ticket-sale" class="nav-link text-center">Ticket Sale</a>
            </li>
            <li class="nav-item">
                <a href="direct-pay" class="nav-link text-center">Direct Payment</a>
            </li>
            <li class="nav-item">
                <a href="login" class="nav-link text-center">Login</a>
            </li>
        </ul>
    </div>
</nav>