<app-header [title]="title"></app-header>
<app-bg-content></app-bg-content>
<div class="mt-4 ml-3 mr-3 ticket-sale-page">
  <form>
    <div class="form-group row">
      <label for="buy_ticket" class="col-5 col-form-label font-weight-bold">Buy ticket:10$</label>
    </div>
    <div class="form-group row">
      <label for="inputname" class="col-4 col-form-label text-right">Name:</label>
      <div class="col-8">
        <input type="text" class="form-control" id="inputname" placeholder="Name" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputlastname" class="col-4 col-form-label text-right">Last Name:</label>
      <div class="col-8">
        <input type="text" class="form-control" id="inputlastname" placeholder="Last Name" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputphone" class="col-4 col-form-label text-right">Phone:</label>
      <div class="col-8">
        <input type="text" class="form-control" id="inputphone" placeholder="Phone" />
      </div>
    </div>
    <div class="form-group row">
      <label for="tickets" class="col-4 col-form-label text-right">Ticket:</label>
      <div class="col-8">
        <select class="form-control" id="tickets">
          <option *ngFor = "let ticket of tickets; let i = index" value="{{ticket.ticket_number}}" [selected]="i === 0" >
            {{ticket.ticket_number}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row justify-content-center mt-2">
      <button class="btn btn-success pr-5 pl-5">Pay</button>
    </div>
  </form>
</div>
<app-footer></app-footer>