.tick-cell-background {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .tick-cell-background {
        width: 100%;
        height: 200px;
    }
}

.carousel.slide {
    margin-top: 56px;
}