@media only screen and (max-width: 703px) {
    .range {
        margin-top: 10px;
    }
    .filter {
        margin-right: 10px;
        margin-left: 10px;
    }
    table {
        width: 100%;
        font-size: 14px;
    }
    .filter_button {
        font-size: 15px;
    }
}
@media only screen and (min-width: 703px) {
    .filter {
        margin-right: 100px;
        margin-left: 100px;
    }
    table {
        width: 100%;
    }
}


.input_date {
    font-size: 15px;
}
